@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700&display=swap");

:root {
  --bg: #f8fafc;
  --surface: #ffffff;
  --surface-secondary: #f1f5f9;
  --text: #0f172a;
  --text-secondary: #475569;
  --border: #e2e8f0;

  --primary: #2563eb;
  --secondary: #7c3aed;
}

.dark {
  --bg: #020617;
  --surface: #0f172a;
  --surface-secondary: #1e293b;
  --text: #f8fafc;
  --text-secondary: #cbd5e1;
  --border: #334155;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}